<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.eni.mforet2018.projetlokacar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_connection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_home" />
        <activity
            android:name=".Activities.ReturnCarListActivity"
            android:label="@string/title_return_car_list"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.RentCarListActivity"
            android:label="@string/title_rent_cars"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.ClientListActivity"
            android:label="@string/title_client_list"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.AgencyManagementActivity"
            android:label="@string/title_agency_mgmt"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/title_current_rents"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.ParkingActivity"
            android:label="@string/title_parking"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.CarDetailsActivity"
            android:label="@string/title_car_detail"
            android:parentActivityName=".Activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.RentActivity"
            android:label="@string/title_rent_car"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.ReturnActivity"
            android:label="@string/title_return_car"
            android:parentActivityName=".Activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.ClientDetailsActivity"
            android:label="@string/title_client_detail"
            android:parentActivityName=".Activities.ClientListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ClientListActivity" />
        </activity>
        <activity
            android:name=".Activities.ClientAddActivity"
            android:label="@string/title_client_add"
            android:parentActivityName=".Activities.ClientListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ClientListActivity" />
        </activity>
        <activity
            android:name=".Activities.CarAddActivity"
            android:label="@string/title_car_add"
            android:parentActivityName=".Activities.ParkingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ParkingActivity" />
        </activity>
    </application>

</manifest>